.header {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}
.headerSmall {
  display: block;
  font-size: 1rem;
}

.AsciiImageExample {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AsciiImage {
  text-align: center;
}

.OptionsRow {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.OptionsRow label {
  margin-right: 1rem;
}
.OptionsRow label:last-of-type {
  margin-right: 0;
}
.SmallInput {
  width: 2rem;
}
.MediumInput {
  width: 8rem;
}
.UrlInput {
  width: 35rem;
}

.Example {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.ImageRow {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
